/* Color Palette
#2B2D42
#8D99AE
#EDF2F4
#61FF7E
#EF233C
-------------------------------------*/

/* Global Styles
-------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

a {
    color: #61FF7E;
} 

a:hover {
    text-decoration: none;
}

/* Header & Footer Styles
-------------------------------------*/
header, footer {
    background: #2B2D42;
    color: #8D99AE;
}

header h1, header h2 {
    color: #EDF2F4;
}

img {
    width: 50%;
}

/* Work Experience
-------------------------------------*/
.work {
    background: #EDF2F4;
}

/* Education
-------------------------------------*/
.education {
    background: #8D99AE;
}